.contacts {
    display: flex;
    flex-direction: column;
    width: 415px;
    height: 100%;
    padding-top: 30px;
    padding-right: 20px;
    

}

.contacts__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

.contacts__list {
    border-bottom: 1px solid gray;
}


.contacts__left > h4 {
    font-weight: 600;

}
.contacts__right > .MuiSvgIcon-root {
    padding-left: 20px;
    color: gray;
    cursor: pointer;
}

/* .contacts__right > .MuiSvgIcon-root:hover {
    background-color: gray;
    border-radius: 100%;
} */

